# .clang-format

# Specify the formatting style. Here, we use LLVM style.
BasedOnStyle: LLVM

# Set the column limit (maximum line width).
ColumnLimit: 120

# Indentation width (number of spaces for each level of indentation).
TabWidth: 2

# Whether to use spaces or tabs for indentation.
UseTab: Always

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: None

AllowShortIfStatementsOnASingleLine: false

NamespaceIndentation: All

BreakConstructorInitializers: BeforeComma

FixNamespaceComments: false

PointerAlignment: Left

SortIncludes: false
